<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{titulo}}</title>
</head>

<body>

    <h1>{{titulo}}</h1>

    <div class="buttons-container">
        <a href="/">
            <button id="inicio" onclick="redirect()">Inicio</button>
        </a>

        <a href="/page2">
            <button id="page2" onclick="redirect()">Página 2</button>
        </a>

        <a href="/page3">
            <button id="page3" onclick="redirect()">Página 2</button>
        </a>

    </div>

    <script src="/js/contador.js"></script>
</body>

</html>